/* ここから下に記載していく */
.wrap{
    width: 1200px;
    margin: 0 auto;
}

img{
    width: 100%;
}

.mainvisual{
    width: 100%;
    height: 450px;
    background: url(./img/mainbg.png) no-repeat center center;
    background-size: cover;
}

.yellow{
    color: #ffd61a;
}
